{% load i18n %}

<h1 class="text-center">{{ object.name }}</h1>

<div class="idea-summary acticle-content clearfix">
    {{ object.get_description|safe }}
</div>

<div class="ivotes text-center col-md-6 col-sm-12 mb20">
    <h2>{{ object.vote_set.count }}</h2>
    <p>{% trans "Total vote"%}</p>
</div>

<div class="ivotes text-center col-md-6 col-sm-12 mb20">
    <h2>{{ object.note }}</h2>
    <p>{% trans "Positive votes"%}</p>
</div>

{% if not object.has_default_image %}
    <div class="content-image bigImg4" data-jslghtbx="{{ object.image.url }}">&nbsp;</div>
{% endif %}
